<p-dialog [(visible)]="displayAddNewStudy" position="top" header="New study">
  <h3>New study</h3>
  <input type="text" placeholder="Title" pInputText [(ngModel)]="newStudyTitle"/>
  <p-card>
    <p-button label="Add" (onClick)="saveNewStudy()"></p-button>
  </p-card>
</p-dialog>
<p-panel>
  <p-header>
    <input type="text" pInputText [(ngModel)]="searchTitle"/>
    <p-button label="Search studies"
              (click)="searchStudies()"
              icon="fa fa-search" iconPos="left"></p-button>
  </p-header>
  <p-table [value]="studies" selectionMode="single"
           [(selection)]="selectedStudy">
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Title</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-study>
      <tr [pSelectableRow]="study">
        <td>{{ study.id }}</td>
        <td>{{ study.title }}</td>
      </tr>
    </ng-template>
  </p-table>
  <p-button *ngIf="selectable" label="Add study"
            (click)="addStudy()"
            icon="fa fa-search" iconPos="left"></p-button>
</p-panel>
<p-card *ngIf="saveable">
  <button pButton type="button" label="Add new study"
          (click)="openAddNewStudyDialog()"></button>
</p-card>
